body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
/* 1200px <screen-width <=1920px*/
.nav{
    display: flex;
    width: 100%;
    height: 54px;
    justify-content: center;
    align-items: center;
}
.nav_content{
    display: flex;
    width: 1200px;
    height: 34px;
    justify-content: space-between;
}
.nav_title{
    width: auto;
    height: 34px;
    color: var(--primary-color-cyan-70, #489);
    font-family: "Noto Sans TC", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}
.nav_btn{
    display: flex;
    height: 34px;
}
.btn{
    width: auto;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: var(--secondary-color-gray-70, #666);
    /* Body - Med 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
}
.sign {
    width: 91px;
}
.btn:hover{
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overscroll-behavior: none;
    background-color: rgba(0,0,0,0.25); 
}
/* Modal Content */
.modal_window {
    margin: auto;
    border-radius: 6px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 60px 0px #AAA;
    position: relative;
    overflow: hidden;
    width:340px;
    height: auto;
}
.decorate_bar{
    width: 100%;
    height: 10px;
    background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
}
.modal_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.login_content{
    height: auto;
}
.signup_content{
    display: none;
    height: auto;
}
.modal_title{
    color: var(--secondary-color-gray-70, #666);
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    margin-bottom: 5px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_inputbox{
    width: 310px;
    height: 47px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    outline: none;
    color: var(--additional-color-black, #000); 
    /* Body - Med 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
}
.modal_inputbox::placeholder{
    color: var(--secondary-color-gray-50, #757575); 
}
.modal_btn{
    width: 310px;
    height: 47px;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    border: none;
    cursor: pointer;

    color: var(--additional-color-white, #FFF);
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    background: url(icon/close.png) no-repeat center / 16px 16px;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 7px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.close:hover,
.close:focus {
    opacity: 0.5;
    cursor: pointer;
  }
.modal_description{
    color: var(--secondary-color-gray-70, #666);
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    height: 22px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.switch_login:hover, .switch_signup:hover{
    cursor: pointer;
}
.hero_section{
    display: flex;
    width: 100%;
    height: 320px;
    background: url(welcome.png) no-repeat top / 1920px 480px;
    justify-content: center;
    align-items: center;
}
.slogan{
    width: 1200px;
    height: auto;
}
.slogan_content{
    margin: 10px;
    height: 149px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slogan_title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 41px;
    color: var(--secondary-color-gray-10, #F8F8F8);
    /* Text Shadow */
    text-shadow: 0px 0px 30px #ABC;
    /* Header 1 - Bold 28(24) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 85.714% */
}
.slogan_description{
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    color: var(--secondary-color-gray-10, #F8F8F8);
    /* Body - Bold 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; /* 83.125% */
}
.search_bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
}
.search_inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 400px;
    height: 46px;
    padding: 16px;
    box-sizing:border-box;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    /* Box Shadow */
    box-shadow: 0px 0px 20px 0px #ABC;
    color: var(--additional-color-black, #000); 
    /* Body - Bold 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; /* 83.125% */
}
.search_inputbox::placeholder{
    color: var(--secondary-color-gray-50, #757575);
}
.search_btn{
    width: 60px;
    height: 46px;
    background: var(--primary-color-cyan-70, #489) url(icon/search.png) no-repeat center / 30px 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
}
.main_content{
    width: 1200px;
}
.list_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 15px 20px 15px;
}
.left_btn{
    background: url(icon/left\ arrow.png) no-repeat center / 32px 32px;
    width: 32px;
    height: 32px;
    /*border-radius: 50%;*/
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.left_btn:hover{
    opacity: 1;
}
.right_btn{
    background: url(icon/right\ arrow.png) no-repeat center / 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.right_btn:hover{
    opacity: 1;
}
.list{
    flex: 0 1 calc(100% - 32px*2);
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 13px 10px;
    box-sizing: border-box;
    height: 50px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.list::-webkit-scrollbar {
    display: none;
}
.list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 
.list_item{
    display: inline-block;
    padding: 5px 15px; 
    height: 24px;
    box-sizing: border-box;
    color: #666;
    text-align: center;
    /* Body - Med 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    scroll-snap-align: start;
}
.list_item:hover{
    color: #000;
    text-align: center;
    /* Body - Med 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    cursor: pointer;
}
.attractions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: calc( 100vh - 484px);
}
.page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 30px;
    padding: 15px;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    /* Body - Med 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    cursor: pointer;
}
.attraction{
    width: 270px;
    height: 242px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color-gray-20, #E8E8E8);
    background: var(--White, #FFF);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.attraction:hover{
    opacity: 0.7;
}
.picture{
    width: 100%;
    height: 197px;
}
img{
    display: block;
}
.picture_container{
    position: relative;
}
.attraction_title{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background: rgba(0 , 0, 0, 0.6);
    padding: 10px;
    color: var(--additional-color-white, #FFF);
    /* Body - Bold 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; /* 83.125% */
}
.attraction_detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    width: auto;
    height: 25px;
    margin: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    background: var(--Gray-700, #757575);
}
.footer_content{
    color: var(--additional-color-white, #FFF);
    /* Body - Bold 16(13.3) */
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; /* 83.125% */
}
/* 900px <screen-width <=1200px*/
@media (max-width: 1200px){
    .main_content{
        width: 100%;
    }
    .hero_section{
        display: flex;
    }
    .nav_content{
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    .slogan_content{
        margin: 0px 20px 0px 20px;
    }
    .picture{
        object-fit: cover;
    }
    .attraction{
        width: calc( (100% - 60px)/3 );
    }
}
/* 600px< screen-width <= 900px*/
@media (max-width: 900px){
    .attraction{
        width: calc( (100% - 30px) /2);
    }
}
/* 360px <screen-width <=600px*/
@media (max-width: 600px){
    .picture{
        height:235px;
    }
    .attraction{
        width: 322px;
        height: 280px;
    }
    .page{
        justify-content: center;
        gap: 15px;
    }
}
