{% extends "base.html" %}
    {% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='booking.css') }}" />
    {% endblock stylesheet %}
    {% block content %}
    <div class="separator_nav"></div>
    <div class="main">
        <div class="main_content">
            <div class="container">
                <div class="headline pb15">
                    <div class="text gray fs19 fw700 lh16">
                        您好，<span class="user_name">    </span>，待預訂的行程如下：
                    </div>
                </div>
                <div class="nobooking">
                    <div class="frame">
                        <div class="text gray fs16 fw500">目前沒有任何待預定的行程</div>
                    </div>
                </div>
                <div class="section hide">
                    <div class="image">
                        <img class="attraction_image">
                    </div>
                    <div class="infor">
                        <div class="frame pb10">
                            <div class="text cyan fs16 fw700">
                                台北一日遊：<span class="attraction_name">平安鐘</span>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="text gray fs16 fw700">
                                日期：<span class="date fw500 pl5">2021-04-23</span>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="text gray fs16 fw700">
                                時間：<span class="time fw500 pl5">早上 9 點到下午 4 點</span>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="text gray fs16 fw700">
                                費用：<span class="fw500 pl5">新台幣 <span class="price">2000</span> 元</span>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="text gray fs16 fw700">
                                地點：<span class="attraction_adress fw500 pl5">臺北市 大安區忠孝東路4段</span>
                            </div>
                        </div>
                        <div class="delete_icon"></div>
                    </div>
                </div>
            </div>
            <div class="separator hide"></div>
            <div class="container hide">
                <div class="title pb5">
                    <div class="text gray fs19 fw700 lh16">您的聯絡資訊</div>
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">聯絡姓名：</div>
                    <input type="text" class="container_inputbox text black fs16 fw500 lh13" id="user_name">
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">連絡信箱：</div>
                    <input type="text" class="container_inputbox text black fs16 fw500 lh13" id="user_email">
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">手機號碼：</div>
                    <input type="text" class="container_inputbox text black fs16 fw500 lh13" id="user_phone">
                </div>
                <div class="notice">
                    <div class="text gray fs16 fw700">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
                </div>
            </div>
            <div class="separator hide"></div>
            <div class="container hide">
                <div class="title pb5">
                    <div class="text gray fs19 fw700 lh16">信用卡付款資訊</div>
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">卡片號碼：</div>
                    <div class="tpfield container_inputbox" id="card-number"></div>
                    <!--<input type="text" class="container_inputbox text black fs16 fw500 lh13" placeholder="**** **** **** ****">-->
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">過期時間：</div>
                    <div class="tpfield container_inputbox" id="card-expiration-date"></div>
                    <!--<input type="text" class="container_inputbox text black fs16 fw500 lh13" placeholder="MM / YY">-->
                </div>
                <div class="field">
                    <div class="text gray fs16 fw500 lh13">驗證密碼：</div>
                    <div class="tpfield container_inputbox" id="card-ccv"></div>
                    <!--<input type="text" class="container_inputbox text black fs16 fw500 lh13" placeholder="CVV">-->
                </div>
            </div>
            <div class="separator hide"></div>
            <div class="container hide">
                <div class="totalprice pb7">
                    <div class="text gray fs16 fw700 lh13">總價：新台幣 <span class="price">2000</span> 元</div>
                </div>
                <div class="btn_container">
                    <button class="purchase_btn">確認訂購並付款</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block script %}
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script src="{{ url_for('static',filename='booking.js') }}"> </script>
    {% endblock script %}