<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}" />
        <title>台北一日遊</title>
    </head>
    <body>
        <div class="nav">
            <div class="nav_content">
                <div class="nav_title">
                    台北一日遊
                </div>
                <div class="nav_btn">
                    <button class="btn">
                        預定行程
                    </button>
                    <button class="btn">
                        登入註冊
                    </button>
                </div>
            </div>
        </div>
        <div class="hero_section">
            <div class="slogan">
                <div class="slogan_content">
                    <div class="slogan_title">
                        輕鬆享受台北一日悠閒
                    </div>
                    <div class="slogan_description">
                        探索每個角落，體驗城市的深度旅遊行程
                    </div>
                    <div class="search_bar">
                        <input type="text" class="search_inputbox" placeholder="輸入景點名稱查詢">
                        <button class="search_btn"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main_content">
                <div class="list_bar">
                    <button class="left_btn"></button>
                    <div class="list">
                        <!--<div class="list_item">
                            新北投
                        </div>
                        <div class="list_item">
                            劍潭
                        </div>
                        <div class="list_item">
                            關渡
                        </div>
                        <div class="list_item">
                            圓山
                        </div>
                        <div class="list_item">
                            中山
                        </div>
                        <div class="list_item">
                            龍山寺
                        </div>
                        <div class="list_item">
                            動物園
                        </div>
                        <div class="list_item">
                            雙連
                        </div>
                        <div class="list_item">
                            臺大醫院
                        </div>
                        <div class="list_item">
                            忠孝新生
                        </div>
                        <div class="list_item">
                            市政府
                        </div>
                        <div class="list_item">
                            中正紀念堂
                        </div>
                        <div class="list_item">
                            士林
                        </div>
                        <div class="list_item">
                            葫洲
                        </div>
                        <div class="list_item">
                            木柵
                        </div>
                        <div class="list_item">
                            芝山
                        </div>
                        <div class="list_item">
                            北投
                        </div>
                        <div class="list_item">
                            松山
                        </div>
                        <div class="list_item">
                            西門
                        </div>
                        <div class="list_item">
                            忠義
                        </div>
                        <div class="list_item">
                            公館
                        </div>
                        <div class="list_item">
                            石牌
                        </div>
                        <div class="list_item">
                            大直
                        </div>
                        <div class="list_item">
                            大湖公園
                        </div>
                        <div class="list_item">
                            文德
                        </div>
                        <div class="list_item">
                            國父紀念館
                        </div>
                        <div class="list_item">
                            松江南京
                        </div>
                        <div class="list_item">
                            台北101／世貿
                        </div>
                        <div class="list_item">
                            行天宮
                        </div>
                        <div class="list_item">
                            象山
                        </div>
                        <div class="list_item">
                            大安森林公園
                        </div>
                        <div class="list_item">
                            唭哩岸
                        </div>-->
                    </div>
                    <button class="right_btn"></button>
                </div>
                <div class="attractions">
                    <!--<div class="page">
                        <div class="attraction">
                            <div class="picture_container">
                                <img class="picture" src="{{ url_for('static',filename='image.png') }}">
                                <div class="attraction_title">平安鐘</div>
                            </div>
                            <div class="attraction_detail">
                                <div class="attraction_mrt">忠孝復興</div>
                                <div class="attraction_category">公共藝術</div>
                            </div>
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                        <div class="attraction">
                        </div>
                    </div>-->
                    
                </div>
                <!--<div class="page_end"></div>-->
            </div>
        </div>
        <footer class="footer">
            <div class="footer_content">
                COPYRIGHT © 2021 台北一日遊
            </div>
        </footer>
        <script src="{{ url_for('static',filename='index.js') }}"> </script>
    </body>
</html>